body, html {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
  }
  
  .theme-color{
      color:#ea7e6e;
  }

.bgimg-1{
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    scroll-behavior: smooth;
    height: 60%;
  }
  .bgimg-1 {
    background-image: url("Images/bgimg-it-services-1.jpg");
  }
  
  
  .back-bg-color{
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
  }

.caption {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
  }

  .nav-link-btn-company-bottom-nav{
    color: #000;
    transform: color;
    transition-duration: 500ms;
  }
  .nav-link-btn-company-bottom-nav:hover{
    color: #ea7b6a;
    transform: color;
    transition-duration: 500ms;
  }
  
@keyframes reveal {
    80%{
        letter-spacing: 8px;
    }
    100% {
        background-size: 300% 300%;
    }
}

@keyframes glow {
    40% {
        text-shadow: 0 0 5px #ea7e6e;
    }
    
    80% {
        text-shadow: 0 0 10px #ea7e6e;
    }
    100% {
        text-shadow: 0 0 5px #ea7e6e;
    }
}

.it-service-text {
    background-color: transparent;
    color: #fff;
    padding: 18px;
    letter-spacing: 5px;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 8vw;
    font-family: sans-serif;
    animation: reveal 3000ms ease-in-out forwards,
                glow 2500ms linear infinite;

}  
 
  
/**************** for text box *******************/
  .border-box-anim{
    border-width: 2px;
    transform: translate(0px, 0px);
    transition-duration: 200ms;
    background-color: white;
  }
@media only screen and (min-width: 800px) {
   .border-box-anim:hover{
       box-shadow: 10px 10px 16px rgb(58,53,53);
       transform: translate(-5px, -5px);
       transition-duration: 200ms;
   }
}

.collapse .navbar-nav .nav-item .nav-link {
  color: black;
}
.collapse .navbar-nav .nav-item.active .nav-link,
.collapse .navbar-nav .nav-item:hover .nav-link {
  color: white;
}

.bg-none .navbar-collapse{
  background-color: #ea7e6e;
  z-index: 9;
}

@media (min-width: 992px){
  .hero li {
      margin-left : 3em;
      margin-right : 3em;
  }
}

#footer {
  background: #fafafa;
  color: #848484;
  font-size: 14px;
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 16px;
  padding: 0 30px;
  outline: none;
  margin: 1px;
  border: 1px solid black;
  transition: 0.3s;
  border-radius: 20px;
}
#footer .footer-newsletter form input[type="email"] {
  border: none;
  outline: none;
  border-radius: 10px;
}
#footer .footer-newsletter form {
  margin-top: 30px;
  background: #eaeaea;
  padding: 6px 10px;
  position: relative;
  border-radius: 20px;
}
#footer ul{
  list-style-type:none;
  margin: 0px;
  padding: 0px;
}

.footer-top ul li a, .footer-contact a{
  color: #848484;
  text-decoration: none;
  transform: color;
  transition-duration: 500ms;
}

.footer-top ul li a:hover, .footer-contact a:hover{
  color: #e8715f;
  transform: color;
  transition-duration: 500ms;
}


.footer-icon-link{
  position: relative;
  text-decoration:none;
  display:inline-block;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 60px;
  cursor: pointer;
}

.footer-icon-link:after {
  display:block;
  content: '';
  border-bottom: solid 2px #000;  
  transform: scaleX(0);  
  transition: transform 500ms ease-in-out;
  transform-origin:50% 50%
}

.footer-icon-link:hover:after {
  transform: scaleX(1);
  transform-origin:50% 50%;
}

.footer-icon{
  transform: translate(0px, 0px);
  transition-duration: 500ms;
}
.footer-icon:hover{
  transform: translate(0px, -10px);
}
